@model IEnumerable<duzce_uni.Models.duyurular>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Duyurular</h2>

<p>
    <a asp-action="Create">Yeni Duyuru Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.duyuruBaslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duyuruTur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duyuruTarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duyuruIcerik1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duyuruIcerik2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duyuruIcerik3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duyuruGorsel1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duyuruGorsel2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duyuruGorsel3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duyuruGorsel4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duyuruGorsel5)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.duyuruBaslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duyuruTur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duyuruTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duyuruIcerik1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duyuruIcerik2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duyuruIcerik3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duyuruGorsel1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duyuruGorsel2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duyuruGorsel3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duyuruGorsel4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duyuruGorsel5)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">İncele</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
